// colors
$primary: #f58a07;
$dark: #323031;
$darkOp: #3230318c;
$light: #fbf5f3;
// sizes
$pHeight: 100vh;
$imgS1: 500px;
$imgS2: 300px;
$v1px: 5px;
$v2px: 10px;
$v3px: 20px;
$v4px: 50px;
$v5px: 100px;
$full: 100%;
// z-index
$zBack: 1;
$zFront: 5;
// usefull
$B: bold;
$ctr: center;
$fl: flex;
$col: column;
$rel: relative;
$abs: absolute;
$border1: solid 1px #f58a07;
$border2: solid 1px #323031;
$border2B: solid 5px #323031;