@import '../../styles/variables';
@import '../../styles/mixin';

.errorP {
    height: $pHeight;
    width: $full;
    @include flexCtr;
    flex-direction: $col;

}

.errorP h1 {
    color: red;
}

@media screen and (max-width: 575px) {

    .errorP h1,
    .errorP h2 {
        font-size: 0.9rem !important;
    }
}